{% extends "financeiro/base_lancamentos.html" %}
{% block titulo_pagina %}Contas a pagar{% endblock %}
{% block fin_page %}pagar{% endblock %}
{% block fin_api %}/api/financeiro/contas-pagar{% endblock %}
{% block fin_tipo %}pagar{% endblock %}
{% block titulo_centro %}Contas a pagar{% endblock %}
{% block sit_pago %}pago{% endblock %}
{% block lbl_pago %}Pago{% endblock %}
{% block lbl_tipo_pgto %}Tipo de pagamento{% endblock %}
{% block lbl_forma %}Forma de pagamento{% endblock %}
{% block placeholder_busca %}Fornecedor, CPF/CNPJ, e-mail ou histórico{% endblock %}
{% block col_parte %}Fornecedor{% endblock %}
{% block col_forma %}Forma de pagamento{% endblock %}
